h1 {color: green;}
#eka
{
  font-size: 15px;
  color:blue;
}

#toka
{
  font-size: 30px;
  color:yellow;
  ;
}
#kolmas
{
  font-size: 40px;
  color:red;
}
#neljäs
{
  font-size: 50px;
  color:azure;
}
#viides
{
  font-size: 60px;
  color:black;
}
#kuudes
{
  font-size: 55px;
  color:chocolate;
}
#seitsemäs
{
  font-size: 45px;
  color:darkcyan;
}
#kahdeksas
{
  font-size: 35px;
  color:aquamarine;
}
#yhdeksäs
{
  font-size: 25px;
  color:chartreuse;
}
#kymmenes
{
  font-size: 15px;
  color:deeppink;
}
#Fontti1{
@font-face{
font-family: 'Fontti' ;
src: url('https://fonts.googleapis.com'>);
}
}

#lorem1{
  font-family: papyrus;
}
#lorem2{
  font-family: brush script mt;
}
#lorem3{
  font-family: copperplate;
}
#lorem4{
  font-family: times new roman;
}
#lorem5{
  font-family: monaco;
}
