body{

  font-family: 'Berkshire Swash', cursive;
  color: #DDDDDD;
background-color: black;
}
#otsikko{
text-align: center;
}
#kiitosteksti{
  text-align: center;
  padding:5px;
}
#veskukuva{
  text-align: center;
  padding: 5px;
}

}
.box{
  display: table;
}
hr{
  height: 1px;
          background-color: #DDDDDD;
          border: none;
}
footer{
  text-align: center;
  font-size: 10px;
}
html{
  display: block;
  margin: auto;
  padding: 10px;
}
#kuva{
  border-radius: 2000px;
}
