body
{
  color: #ffffff;
  font-style: oblique;
    background-color: green
}
body
{margin:50px;}
table, th,td
{border: 1px solid black;}

body

{background-image: url(https://cdn.wallpapersafari.com/43/42/IwWBH3.jpg);
background-size: 100%auto;
}
img
    {
       clear: both;
      Float:right;
    margin-right: 700px;
    height: 100px;
    margin-bottom: 20px;
